@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.input-box{
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    padding:  10px;
    outline: 0;
}
.dark .input-box{
    border: 1px solid rgba(255, 255, 255, 0.4);
}
